---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="design-icon" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Graphic Design</h2>
		<p>Fast. Sharp. Always on-brand. I handle everything from <b>Instagram carousels</b> to printed packaging — no tool left behind, no deadline unmet. If it needs to be seen, I’ll make sure it lands.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="book-open-text" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>E-book Layout</h2>
		<p>A great e-book doesn’t just inform — it invites. I craft layouts that feel like a journey: where headings breathe, images pause the mind, and every spread pulls the reader deeper. Because how something looks shouldn’t distract… it should elevate.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="presentation-icon" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Presentation</h2>
		<p>UI design pitch decks that don’t just look good — they win approval. Clean. Cinematic. Built to persuade.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
